.App {
  text-align: center;
  padding-top: 100px;
  background-color: gray;
  height: 100vh;
}

button {
  background-color: teal;
  border: none;
  width: 100px;
  height: 40px;
  color: white;
  margin-top: 30px;
}

.react-flow__renderer {
  height: 550px !important;
  position: relative !important;
}
